body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.services li {
  list-style: none;
}
.services ul {
  display: flex;
  background-color: lightgray;
  margin-top: 0px;
  justify-content: space-around;
  border-bottom: 1px solid gray;
}
.services img {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}
.services img:hover {
  transform: scale(1.1);
  transition: 0.3s;

}
.services h5 {
  font-size: 18px;
  margin: 5px;
  color: #212a2f;
}
/* ********************************* contact - details******************************** */
.Cdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60vh;
  margin: 0%;
  margin-bottom: 10px;
}
.Cdetails h2 span {
  margin: 20px 0px 33px;
  font-size: 28px;
  font-weight: 800;
  color: #212a2f;
}
.Cdetails p {
  font-size: 14px;
  margin: 14px 0px 10px;
}
.Cdetails img {
  margin: 14px 0;
  height: 50px;
  width: 50px;
}
.Cdetails img:hover{
  transform: scale(1.3);
  transition: 0.3s;
}
.Cdetails span {
  font-size: 14px;
  color: #212a2f;
}
.Cdetails {
  border-bottom: 1px solid lightgray;
  margin: 0px 0px 20px;
  padding-bottom: 20px;
}
/* ************************* email ****************************************** */
.mail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
  margin: 0%;
}
.mail img {
  margin: 14px 0;
  height: 50px;
  width: 50px;
}
.mail img:hover {
  transform: scale(1.3);
  transition: 0.3s;
}
.mail h2 span {
  margin: 20px 0px 33px;
  font-size: 28px;
  font-weight: 800;
  color: #212a2f;
}
.mail span {
  font-size: 14px;
  color: #212a2f;
}
.mail {
  border-bottom: 1px solid lightgray;
  margin: 0px 0px 20px;
  padding-bottom: 20px;
}

/* **************************follow********************************* */
.follow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60vh;
  margin: 0%;
}
.follow h2 span {
  margin: 20px 0px 33px;
  font-size: 28px;
  font-weight: 800;
  color: #212a2f;
}
.follow img {
  margin: 0px 0px 0px 20px;
  height: 50px;
  width: 50px;
}
.follow img:hover {
  transform: scale(1.2);
  transition: 0.3s;
}
.follow ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.follow li {
  list-style: none;
}
.follow p span {
  font-size: 14px;
  margin: 14px 0px 10px;
}

.follow {
  border-bottom: 1px solid lightgray;
  margin: 0px 0px 20px;
}
